[submodule "ext/argh"]
	path = ext/argh
	url = https://github.com/adishavit/argh.git
[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ext/gli"]
	path = ext/gli
	url = https://github.com/g-truc/gli.git
[submodule "ext/glm"]
	path = ext/glm
	url = https://github.com/g-truc/glm.git
[submodule "ext/json"]
	path = ext/json
	url = https://github.com/nlohmann/json.git
[submodule "ext/spdlog"]
	path = ext/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.x
[submodule "ext/stb"]
	path = ext/stb
	url = https://github.com/nothings/stb.git
[submodule "ext/tinyobjloader"]
	path = ext/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader.git
[submodule "ext/volk"]
	path = ext/volk
	url = https://github.com/zeux/volk.git
[submodule "ext/Vulkan-Headers"]
	path = ext/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
	branch = main
[submodule "ext/VulkanMemoryAllocator"]
	path = ext/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ext/Catch2"]
	path = ext/Catch2
	url = https://github.com/catchorg/Catch2.git
	branch = devel
[submodule "ext/IconFontCppHeaders"]
	path = ext/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
